<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('social.index')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.ergast')}}">Ergast</a>
        </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('auth.register')}}">Register</a>
        </li>
        {% endif %}
      </ul>
      {% if current_user.is_authenticated %}
      <ul class="navbar-nav ms-auto align-items-center">
      <a href="#">
      <img src="{{current_user.get_icon_url()}}" style="height:50px"/>
       </a>
        <li class="nav-item">
          <div class="row">
            <div class="col-12">
              <a class="nav-link" href="{{url_for('auth.edit_profile')}}"><i class="bi bi-gear-fill"></i></a>
            </div>
          <div class="col-12">
            <a class="nav-link" href="{{url_for('auth.logout')}}"><i class="bi bi-box-arrow-right"></i></a>
          </div>
        </div>
        </li>
      </ul>
       {% endif %}
    </div>
  </div>
</nav>