{% extends 'base.html.j2' %}
{% block title %}
{% if current_user.is_authenticated %}
Edit Profile
{% else %}
Register
{% endif%}
{% endblock %}

{% block content %}

<h1>
{% if current_user.is_authenticated %}
Edit Profile
{% else %}
Register
{% endif %}
</h1>

<small style="color:red">{{error}}</small>
<form action="{{url_for('auth.edit_profile') if current_user.is_authenticated else url_for('auth.register')}}" method="POST">
    {{ form.hidden_tag() }}

    <div> 
    {{form.first_name.label(class="form-label")}}
    {{form.first_name(class="form-control", value=current_user.first_name)}}
    </div>

    <div> 
    {{form.last_name.label(class="form-label")}}
    {{form.last_name(class="form-control", value=current_user.last_name)}}
    </div>


    <div>
    {{form.email.label(class="form-label")}}
    {{form.email(class="form-control", value=current_user.email)}}
    {% for error in form.email.errors %}
    <small style="color:red">{{error}}</small><br>
    {% endfor %}
    </div>
    <br>
    {# change with css ^ #}
    <div>
    {{form.password.label(class="form-label")}}
    {{form.password(class='form-control')}}
    </div>

    <div>
    {{form.confirm_password.label(class="form-label")}}
    {{form.confirm_password(class='form-control')}}
    {% for error in form.confirm_password.errors %}
    <small style="color:red">{{error}}</small><br>
    {% endfor %}
    </div>

    <br>
    <div>
    {{form.submit(class="btn btn-primary form-control")}}
    </div>
{% endblock %}